body {
	font-family: Arial, Helvetica, sans-serif;
}
.vacations {
	display: flex;
	justify-content: space-around;
	padding: 0;
	list-style: none;
}

.confirmation {
	margin: 0;
	flex-basis: 30%;
	padding: 0 10px 20px;
	box-sizing: border-box;
	background-color: #ddd;
}

.confirmation .ticket,
.ticket .details {
	display: none;
}

.confirmation .ticket {
	margin-top: 5px;
}

.confirmation .ticket p {
	margin: 10px 0;
}

.confirmation button {
	font-size: 14px;
	padding: 3px;
	background-color: #1d2;
	border-radius: 5px;
}